@import "tailwindcss";

:root {
  --background: #F8FAFC; /* Your exact light gray background */
  --foreground: #0F172A; /* Slate 900 for text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}